---
layout: 'default.hbs'
---


<p><a href="#" class="js-popover-button">PopOverButton</a></p>

{{#content "overlay_module"}}
<div id="popover" class="popover">
<div class="popover__header"><p><a href="#" class="js-popover-close">CloseButton</a></p></div>
<div class="popover__body">
<img src="img/doraemon.jpg" alt="doraemon" width="300">
</div>
</diV>
{{/content}}