@charset "utf-8";

.popover {
	width: 100%;
	display: none;
	position: absolute;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index:1000;
	background-color: #fff;

	&__header {
		padding: 12px 10px;
		background-color: #f6f2ea;
		text-align: center;
	}

	&__body {
		padding: 10px;

		img {
			margin: 0 auto;
		}
	}
}